
body{
    background-color: black;
}
.container {
   background-color: #ffffff ;
    width: 850px;
    height: 600px;
    border: 2px solid black;
    margin-left: 20%;
    border-radius: 4%;


}

h1{
    color: #2AB2AF;
    margin-left: 5%;
    font-family: 'Courier New', Courier, monospace;
}


.head {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: hsl(0, 41%, 95%);
    width: 850px;
    height: 240px;
    border-radius:  14% 14% 0% 0%;
}

.head p {
    color: #98A6BD;
    padding: auto;
    margin-left: 6%;
}
.head h3 {
    color: #f5bd06;
     margin-left: 7%;
    
}


.subcontainer {
    display: flex;
   
}

.left {
    background-color:  #2AB2AF;
    width: 425px;
    height: 365px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: #ffffff;
      border-radius:  0% 0% 0% 7% ;
}
.left p{
    margin-top: 10%;
    margin-left: 7%;
}
.left h2{
    margin-left: 7%;
}

.right {
    display: flex;
    flex-direction: column;
    background-color: #1e9e9c;
    width: 425px;
    height: 365px;
     border-radius:  0% 0% 7% 0% ;

}
.right  h2{
  color: #ffffff;
   margin-left: 7%;
  
}
.left button {
    background-color: #C0DF34;
    color: #E5EFF5;
    width: 250px;
    height: 40px;
    padding: 10px;
    margin-left:7% ;
    border-radius:10px;
    font-size: large;
   
}
.right  p{
 color: #a8b1c0;
 padding: 40px;
 font-size: large;
}